{% extends 'base.html' %}

{% block title %}
  Login
{% endblock title %}


{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        
        <input name="username" type="username" placeholder="Enter your username"><br />
        <input name="password" type="password" placeholder="Enter your password"><br />
        <input type="submit">
        {% if form.errors %} <p>invalid login credentials</p>{% endif %}

    </form>
{% endblock content %}