<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
    <h1>Simple Table</h1>


    <table class="table">
  <thead>
    <tr>
      <th>User</th>
        <th>Weekly Goals</th>
        <th>Daily Goals</th>
        <th>Verify Goals</th>
        <th>Done Goals</th>
    </tr>
  </thead>
  <tbody>
  {% for x in user %}
    <tr>
    <td>
      {{x.username}}
    </td>
    <td>
    {% for goals in week %}
      {% if goals.user == x %}
        {{ goals.goal_id }}. {{ goals }} <br />
      {% endif %}
    {% endfor %}
    </td>

    <td>
    {% for goals in daily %}
      {% if goals.user == x %}
        {{ goals.goal_id }}. {{ goals.goal_name }} <br />
      {% endif %}
    {% endfor %}
    </td>

    <td>
    {% for goals in verify %}
      {% if goals.user == x %}
        {{ goals.goal_id }}. {{ goals.goal_name }} <br />
      {% endif %}
    {% endfor %}
    </td>

    <td>
    {% for goals in done %}
      {% if goals.user == x %}
        {{ goals.goal_id }}. {{ goals.goal_name }} <br />
      {% endif %}
    {% endfor %}
    </td>
      
    </tr>
    {% endfor %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>