{% extends 'base.html' %}
{% block title %}
  Add goals
{% endblock title %}

{% block content %}
  <form method="post" action="{% url 'josephscrumy:add_goal' %}">
        {% csrf_token %}
        {{user_form.as_p}}
        <input type="submit" value="Submit">
    </form>
    <br /><br />
    {% if user.is_authenticated %}
      {% for group in user.groups.all %}
          {% if group == grouped %}
            <span>Your group is 'Developer' so, you won't be able to create goal for another user</span>
          {% endif %}
        {% endfor %}</p>
    {% endif %}
{% endblock content %}