{% extends 'base.html' %}
{% block title %}
  Change group
{% endblock title %}

{% block content %}
  <form method="post" action="{% url 'josephscrumy:group' %}">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
    <br /><br />
    
{% endblock content %}