<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>{% block title%} {% endblock title %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Scrumy app</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="visibility: hidden;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        {% if request.user.is_authenticated %}
            <p style="position: relative; right: 40px;">User: {{request.user.username}}<br /> Group: {% for group in request.user.groups.all %}
                {{ group }}{% endfor %}</p>
            <a href="{% url 'josephscrumy:group' %}" class="btn btn-outline-success" type="submit">Change group</a>
            <a href="{% url 'josephscrumy:logout' %}" class="btn btn-outline-success" type="submit">Logout</a>
        {% else %}
            <a href="{% url 'josephscrumy:login' %}" class="btn btn-outline-success" type="submit">Login</a>
            <a href="{% url 'josephscrumy:about' %}" class="btn btn-outline-success" type="submit">Register</a>
        {% endif %}
        
      </form>
    </div>
  </div>
</nav>

    <div class="container">
    <h1>Scrumy User table</h1>


    <table class="table">
  <thead>
    <tr>
      <th>User</th>
        <th>Weekly Goals</th>
        <th>Daily Goals</th>
        <th>Verify Goals</th>
        <th>Done Goals</th>
    </tr>
  </thead>
  <tbody>
  {% for x in user %}
    <tr>
    <td>
      {{x.username}}
    </td>
    <td>
    {% for goals in week %}
      {% if goals.user == x %}
        {{ goals.goal_id }}. {{ goals }} <br />
        {% for group in request.user.groups.all %}
                {% if group == dev %}
                  {% if goals.user == request.user %}
                    <a href="{% url 'josephscrumy:movegoal' goals.goal_id %}">Move goal</a><br /><br />
              
                  {% endif %}
                {% else %}
                  <a href="{% url 'josephscrumy:movegoal' goals.goal_id %}">Move goal</a><br /><br />
                {% endif %}
        {% endfor %}
        
      {% endif %}
    {% endfor %}
    </td>

    <td>
    {% for goals in daily %}
      {% if goals.user == x %}
        {{ goals.goal_id }}. {{ goals.goal_name }} <br />
        {% for group in request.user.groups.all %}
                {% if group == dev %}
                  {% if goals.user == request.user %}
                    <a href="{% url 'josephscrumy:movegoal' goals.goal_id %}">Move goal</a><br /><br />
              
                  {% endif %}
                {% else %}
                  <a href="{% url 'josephscrumy:movegoal' goals.goal_id %}">Move goal</a><br /><br />
                {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    </td>

    <td>
    {% for goals in verify %}
      {% if goals.user == x %}
        {{ goals.goal_id }}. {{ goals.goal_name }} <br />
        {% for group in request.user.groups.all %}
                {% if group == dev %}
                  {% if goals.user == request.user %}
                    <a href="{% url 'josephscrumy:movegoal' goals.goal_id %}">Move goal</a><br /><br />
              
                  {% endif %}
                {% else %}
                  <a href="{% url 'josephscrumy:movegoal' goals.goal_id %}">Move goal</a><br /><br />
                {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    </td>

    <td>
    {% for goals in done %}
      {% if goals.user == x %}
        {{ goals.goal_id }}. {{ goals.goal_name }} <br />
        {% for group in request.user.groups.all %}
                {% if group == dev %}
                  {% if goals.user == request.user %}
                    <a href="{% url 'josephscrumy:movegoal' goals.goal_id %}">Move goal</a><br /><br />
              
                  {% endif %}
                {% else %}
                  <a href="{% url 'josephscrumy:movegoal' goals.goal_id %}">Move goal</a><br /><br />
                {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    </td>
      
    </tr>
    {% endfor %}
    </body>
    </table>

    <a href="{% url 'josephscrumy:add_goal' %}">Add goal</a>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>