{% extends 'base.html' %}

{% block title %}
  Index
{% endblock title %}

{% block content %}
  <div class="container">
      <h1>Signup form</h1>


      <form method="POST" action="{% url 'josephscrumy:about' %}">
          {% csrf_token %}
          {{user_form.as_p}}
          <input type="submit" value="Submit">
      </form>
    </div>
{% endblock content %}