{% extends 'base.html' %}
{% block title %}
  move goal
{% endblock title %}

{% block content %}
    <div class="container">
        <h1>Move goal form</h1>


        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit">
        </form>

        {% comment %} <a href="{% url 'josephscrumy:add_goal' %}">Add goal</a> {% endcomment %}
    </div>
{% endblock content %}